﻿@page "/"

@implements IDisposable

@using SiLA2.Frontend.Razor.Model;
@using SiLA2.Frontend.Razor.Services;
@using SiLA2.UniversalClient.Net.Services;
@using SiLA2.Utils.Network
@using SiLA2.Network.Discovery.mDNS
@using System.Net.Sockets
@using System.Net
@using SiLA2.Utils.gRPC
@using System.Collections.Concurrent

@inject IServiceFinder ServiceFinder
@inject IGrpcChannelProvider GrpcChannelProvider
@inject IServerDataService ServerDataService
@inject IConnectionViewModelProvider ConnectionViewModelProvider
@inject IJSRuntime JSRuntime;
@inject IServerConfig ServerConfig
@inject ILogger<Index> Logger

<PageTitle>SiLA2 Servers</PageTitle>

<h3 style="color:darkslategray;font-weight:bold;text-align:center">SiLA2 <span style="color:teal">Servers</span><span><button class="btn btn-primary mb-3" style="background-color:lightseagreen;margin-left:20px;margin-top:10px" @onclick="() => SearchForServers()">Search for Servers</button></span></h3>

<hr>

@if (_isSearching)
{
    <div style="text-align:center">Searching for SiLA2 Servers...</div>
}
else
{
    @if (ConnectionViewModelProvider.Servers.Count == 0)
    {
        <div style="text-align:center">Please search for SiLA2 Servers...</div>
    }
}

<div style="margin-top:20px">
    @if (ConnectionViewModelProvider.Servers.Count != 0)
    {
        @foreach (var server in ConnectionViewModelProvider.Servers.Values)
        {
            <div class="container" style="border-radius:10px;border:solid indigo; margin-bottom:5px;background-color:teal;color:white;min-width:600px">
                <div class="row">
                    <div class="col-6 align-bottom" style="margin-top:10px"><h4>@server.ServerData.Config.Name</h4></div>
                    <div class="col-6 align-bottom" style="margin-top:10px"><h5>@server.ServerData.Config.Uuid</h5></div>
                </div>
                <div class="row">
                    <div class="col4">Channel @server.ConnectionInfo</div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-10">
                        <div class="align-bottom" style="margin-top:10px">@server.ServerData.Info.Description</div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary mb-3" style="background-color:lightseagreen" @onclick="() => Connect(server)">Open Client</button>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code
{
    CancellationTokenSource cts = new CancellationTokenSource();
    CancellationTokenSource cHkCts = new CancellationTokenSource();

    private bool _isSearching = false;

    private async Task SearchForServers()
    {
        try
        {
            _isSearching = true;
            cts = new CancellationTokenSource();
            var connectionInfos = await ServiceFinder.GetConnections(ServerConfig.DiscoveryServiceName, ServerConfig.NetworkInterface, 5000);
            await HandleReceivedConnection(connectionInfos.ToList());
        }
        catch (Exception ex)
        {
            Logger.LogWarning($"{ex}");
        }
        finally
        {
            _isSearching = false;
            StateHasChanged();
        }
    }

    private async Task Connect(ConnectionViewModel connectionInfoViewModel)
    {
        await JSRuntime.InvokeVoidAsync("open", $"sila2server/{connectionInfoViewModel.ConnectionInfo.Address}/{connectionInfoViewModel.ConnectionInfo.Port}", "_blank");
    }

    private async Task HandleReceivedConnection(IList<ConnectionInfo> connectionInfos)
    {
        await InvokeAsync(async () =>
            {
                try
                {
                    ConnectionViewModelProvider.Servers.Clear();
                    foreach(var connectionInfo in connectionInfos)
                    {
                        if (!ConnectionViewModelProvider.Servers.ContainsKey(connectionInfo.ToString()))
                        {
                            var serverData = await ServerDataService.GetServerData(connectionInfo.Address, connectionInfo.Port, true);
                            ConnectionViewModelProvider.Servers.GetOrAdd(connectionInfo.ToString(), new ConnectionViewModel(connectionInfo, serverData));
                        }
                    }
                    StateHasChanged();
                }
                catch (Exception ex)
                {
                    Logger.LogWarning($"{ex}");
                }
            });
    }

    public void Dispose()
    {
        cts.Cancel();
        cHkCts.Cancel();
    }
}