﻿@page "/security"

@using System
@using System.IO
@using System.Linq
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Logging
@using SiLA2.Communication.Services
@using SiLA2.Frontend.Razor.Services
@using SiLA2.Frontend.Razor.ViewModels
@using SiLA2.Utils.Extensions
@using SiLA2.Utils.Network
@using SiLA2.Utils.Security
@using System.Text
@using System.Security.Cryptography
@using System.Security.Cryptography.X509Certificates
@using SiLA2.Utils.gRPC
@using SiLA2.Client

@inject ILogger<object> Logger
@inject IWebHostEnvironment Environment
@inject ICertificateRepository CertificateRepository
@inject ICertificateProvider CertificateProvider
@inject IConfiguration Configuration
@inject FileJsInterop FileJsInterop
@inject IGrpcChannelProvider GrpcChannelProvider
@inject IServerDataService ServerDataService
@inject IDynamicMessageService DynamicMessageService
@inject ICommandPayloadProvider CommandPayloadProvider
@inject IServerConfig ServerConfig
@inject IBinaryClientService BinaryClientService

<style>
    .file-input-zone {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: teal;
        border-color: #1861ac;
        min-width: 100px;
        cursor: pointer;
        position: relative;
        width: 100px;
        height: 35px;
        border-radius: 3px;
        min-height: 35px;
        margin-left:20px;
    }

        .file-input-zone:hover {
            color: #fff;
            background-color: lightseagreen;
            border-color: #0a58ca;
        }

        .file-input-zone input[type=file] {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
</style>

<div>
    <h1 style="color:#0F3052">Encryption</h1>
</div>

<div style="float:left">

    <hr style="margin-bottom:40px" />
    <EditForm Model="@securityViewModel">
        <div class="container">
            <div class="row">
                <div class="col-2" style="min-width:200px">
                    <h5>
                        Certificate Files
                    </h5>
                </div>
                <div class="col-2" style="min-width:200px">
                    <InputSelect @bind-Value="securityViewModel.SelectedCertificateItemName">
                        @foreach (var value in securityViewModel.CertificateItemNames)
                        {
                            <option>@value</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-2 file-input-zone" style="float:right">
                    <InputFile class="file-input-zone" OnChange="@SelectFile" />
                    Upload
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4" style="margin-top:10px">
                    <table>
                        <tr>
                            <td colspan="5">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-primary mb-3 rowbutton" @onclick="Download">Download</button>
                            </td>
                            <td>
                                <button class="btn btn-primary mb-3 rowbutton" style="float:left" @onclick="Delete">Delete</button>
                            </td>
                            <td>
                                <button class="btn btn-primary mb-3 rowbutton" @onclick="() => Validate()">Validate</button>
                            </td>
                            <td>
                                <button class="btn btn-primary mb-3 rowbutton" @onclick="Create">Create</button>
                            </td>
                            <td>
                                <button class="btn btn-primary mb-3 rowbutton" @onclick="Clear">Clear</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </EditForm>

    <hr />

    @if (!string.IsNullOrEmpty(message))
    {
        <div style="margin-top:20px">
            Message => <span style="color:teal">@message</span>
        </div>
    }

</div>

@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    @if (!securityViewModel.CertificateItemMap.Values.All(x => x == null))
    {
        <h5>Uploaded files</h5>
        <ul>
            @foreach (var file in securityViewModel.CertificateItemMap.Values.Where(x => x != null))
            {
                <li>
                    <div>
                        <span style="font-weight:bold;color:#1b6ec2;">@file.Name</span> (Size (bytes): @file.Size, Last modified: @file.LastModified.ToString(), Content type: @file.ContentType)
                    </div>
                </li>
            }
        </ul>
    }
}

@code {
    //Map with target file name
    private bool isLoading;
    private SecurityViewModel securityViewModel = new SecurityViewModel();
    private string message;
    private IBrowserFile currentBrowserFile;
    private string executionDir = System.IO.Path.GetDirectoryName(System.Reflection.Assembly.GetEntryAssembly().Location);

    /*
    Storing IBrowserFiles in Dictionary and trying to upload after all files were provided fails !
    ...but e.GetMultipleFiles is possible...mayby one has to provide Dictionary Items immediately when calling e.GetMultipleFiles...
    ...another possible solution -> IDictionary<string,Stream>
    */
    private async Task SelectFile(InputFileChangeEventArgs e)
    {
        isLoading = true;
        message = string.Empty;

        try
        {
            if (securityViewModel.SelectedCertificateItemName == e.File.Name)
            {
                currentBrowserFile = e.File;
                securityViewModel.CertificateItemMap[securityViewModel.SelectedCertificateItemName] = e.File;
                await Upload();
                message = $"Selected Certificate File '{e.File.Name}' was uploaded.";
            }
            else
                message = $"Selected Certificate Item Type '{securityViewModel.SelectedCertificateItemName}' differs from  expected file name '{e.File.Name}'";
        }
        catch (Exception ex)
        {
            Logger.LogError("File: {Filename} Error: {Error}", e.File.Name, ex);
            message = $"File: {e.File.Name} Error: {ex}";
        }

        isLoading = false;
    }

    private async Task<bool> Validate()
    {
        bool ok = false;

        ok = CertificateRepository.IsServerCertificateValid();
        message = ok ? "Server Certificate Chain is valid" /* Restart Server or Reload Certificate Items ?*/ : "Validation Check failed";

        return ok;
    }

    private async Task Download()
    {
        message = "Downloading Certificate Items";
        var files = new List<FileInfo>();
        AddIfExists(CertificateRepository.CertificateContext.CERTIFICATE_FILE_PATH, files);
        AddIfExists(CertificateRepository.CertificateContext.CERTIFICATE_KEY_FILE_PATH, files);
        AddIfExists(CertificateRepository.CertificateContext.CERTIFICATE_AUTHORITY_FILE_PATH, files);
        AddIfExists(CertificateRepository.CertificateContext.CERTIFICATE_AUTHORITY_KEY_FILE_PATH, files);

        var zipBytes = await files.GetZipFilesBytes();
        await FileJsInterop.Download("CertificateItems.zip", zipBytes);
        message = "Successfully downloaded Certificate Items";
    }

    public async Task Delete()
    {
        var success = CertificateRepository.DeleteCertificateFile(onlyServerCertItems: false);
        message = success ? "Deleted CA.crt, CA.key, Server.crt & Server.key" : "Could not delete CA.crt, CA.key, Server.crt & Server.key !";
    }

    private void Clear()
    {
        foreach (var item in securityViewModel.CertificateItemMap.Keys)
        {
            securityViewModel.CertificateItemMap[item] = null;
        }
        message = string.Empty;
    }

    private async Task Upload()
    {
        const int FILE_SIZE_MAX = 15728640;
        const int CHUNK_SIZE = 1024;
        const string PARAMETER_IDENTIFIER = "de.chamundi/util/FileTransfer/v1/Command/UploadFile/Parameter/FileBytes";
        try
        {
            var buffer = new byte[currentBrowserFile.Size];
            var length = await currentBrowserFile.OpenReadStream(FILE_SIZE_MAX).ReadAsync(buffer);
            var uploadUuid = await BinaryClientService.UploadBinary(buffer, CHUNK_SIZE, PARAMETER_IDENTIFIER);

            //TODO : Dynamic creation of DataType_FileInfo.Types.FileInfo_Struct
            //       Upload

            //Work in Progress...

            //await using FileStream fs = new(Path.Combine(executionDir, currentBrowserFile.Name), FileMode.Create);
            //await currentBrowserFile.OpenReadStream().CopyToAsync(fs);
            //securityViewModel.CertificateItemMap[securityViewModel.SelectedCertificateItemName] = currentBrowserFile;
            //message = $"Uploaded file {currentBrowserFile.Name}";
        }
        catch (Exception ex)
        {
            message = $"Error: {ex}";
        }

    }

    private async Task Create()
    {
        bool allCerts = true;
        var cleaned = CertificateRepository.DeleteCertificateFile(onlyServerCertItems: !allCerts);

        if (cleaned)
        {
            X509Certificate2 rootCert = null;
            var caKey = RSA.Create();
            if (allCerts)
            {
                rootCert = CertificateProvider.CreateRootCertificate(caKey);
                await CertificateRepository.SaveCertificateAuthority(rootCert, caKey);
            }
            else
            {
                caKey.ImportPkcs8PrivateKey(CertificateRepository.ServerCertificateAuthorityKey, out int _);
            }

            var serverCert = CertificateProvider.CreateServerCertificate(CertificateRepository.ServerCertificateAuthority, caKey, Guid.Parse(Configuration["ServerConfig:UUID"]));
            await CertificateRepository.SaveCertificate(serverCert, serverCert.GetRSAPrivateKey());

            message = "Certificate was recreated successfully. Please restart Server. Due to the use of self-signed Certificates you migth have to add an exception to your Browser once...";
        }
        else
        {
            message = "Could not delete existing Certificate Items";
        }
    }

    private void AddIfExists(string file, List<FileInfo> fileInfoList)
    {
        if (File.Exists(file))
            fileInfoList.Add(new FileInfo(file));
    }
}
