﻿@using BlazorBootstrap;
@using Grpc.Net.Client;
@using Microsoft.Extensions.Configuration;
@using Newtonsoft.Json;
@using SiLA2.Communication.Services;
@using SiLA2.Frontend.Razor.Model;
@using SiLA2.Frontend.Razor.Services;
@using SiLA2.Network.Discovery.mDNS;
@using SiLA2.Server.Utils;
@using SiLA2.Utils.Network;
@using SiLA2.Utils.gRPC
@using Sila2.Org.Silastandard;

@inject IGrpcChannelProvider GrpcChannelProvider
@inject IServerDataService ServerDataService
@inject ICommandPayloadProvider CommandPayloadProvider
@inject IServerConfig ServerConfig

@if (_connectionViewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h1 class="header">@_connectionViewModel.ServerData.Config.Name</h1>
        <hr />
        <table class="table table-striped" style="padding-top:50px">

            <tbody>
                <tr>
                    <td>Server ID</td>
                    <td>@_connectionViewModel.ServerData.Config.Uuid</td>
                </tr>
                <tr>
                    <td>Channel</td>
                    <td>@_connectionViewModel.ServerData.Config.FQHN:@_connectionViewModel.ServerData.Config.Port</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@_connectionViewModel.ServerData.Info.Description</td>
                </tr>
                <tr>
                    <td>Server Type</td>
                    <td>@_connectionViewModel.ServerData.Info.Type</td>
                </tr>
                <tr>
                    <td>Server Version</td>
                    <td>@_connectionViewModel.ServerData.Info.Version</td>
                </tr>
                <tr>
                    <td style="min-width:200px">Server Vendor URI</td>
                    <td>
                        <a href="@_connectionViewModel.ServerData.Info.VendorURI" target="_blank">
                            @_connectionViewModel.ServerData.Info.VendorURI
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

@code {

    private ConnectionViewModel _connectionViewModel;

    protected override async Task OnInitializedAsync()
    {
        var serverData = await ServerDataService.GetServerData(ServerConfig.FQHN, ServerConfig.Port, true);
        _connectionViewModel = new ConnectionViewModel(new ConnectionInfo(ServerConfig.FQHN, ServerConfig.Port), serverData);
        await base.OnInitializedAsync();
    }
}
