﻿@page "/animl"

@using AnIMLCore
@using SiLA2.AnIML
@using AnIML.Services
@using Newtonsoft.Json

@inject IAnIMLRepository AnIMLRepository
@inject IAnIMLTechniqueRepository AnIMLTechniqueRepository

<style>
    html, body {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-image: linear-gradient(160deg, rgba(230,230,230,1) 0%, rgba(192,192,192,1) 40%, rgba(134,133,129,1) 100%);
    }
</style>

<h1 style="color:#0F3052">AnIML</h1>

<hr />

<div>These AniML data are fetched from the example document database where they are stored in BSON format (Binary JSON).</div>
<div>If there are none, please create some at <a href="/temperature">Temperature Monitoring</a> and save them.</div>
<div>AnIML documents which fail the XSD validation of AnIML Xml format will be displayed as JSON.</div>

@if (_anIMLs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row" style="margin-top:25px">
        <h3 style="color:#9E2A2B">AnIML Data</h3>
        <div class="accordion col-12" id="accordionanimalcore">
            @if(_anIMLDocs != null)
            {
                @for (int i = _anIMLDocs.Count - 1; i >= 0 ; i--)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id=@_anIMLDocs[i].GetHashCode()>
                            <button class="accordion-button" style="background-color:#0F3052; color:#ffffcc" type="button" data-bs-toggle="collapse" data-bs-target="#animlcore@(i)" aria-expanded="true" aria-controls="animlcore@(i)">
                                AnIML @_anIMLs[i].ExperimentStepSet?.id
                            </button>
                        </h2>
                        <div id="animlcore@(i)" class="accordion-collapse collapse" aria-labelledby=@_anIMLDocs[i].GetHashCode()>
                            <div class="accordion-body">
                                <pre>
                                    @_anIMLDocs[i]
                                </pre>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="row" style="margin-top:25px">
        <h3 style="color:#9E2A2B">AnIML Technique Data</h3>
        <div class="accordion col-12" id="accordionanimltechnique">
            @if (_anIMLTechniqueXmls != null)
            {
                @for (int i = 0; i < _anIMLTechniqueXmls.Count; i++)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id=@_anIMLTechniqueXmls[i].GetHashCode()>
                            <button class="accordion-button" style="background-color:#0F3052; color:#ffffcc" type="button" data-bs-toggle="collapse" data-bs-target="#animltechnique@(i)" aria-expanded="true" aria-controls="animltechnique@(i)">
                                AnIML Technique
                            </button>
                        </h2>
                        <div id="animltechnique@(i)" class="accordion-collapse collapse" aria-labelledby=@_anIMLTechniqueXmls[i].GetHashCode()>
                            <div class="accordion-body">
                                <pre>
                                    @_anIMLTechniqueXmls[i]
                                </pre>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

@code {
    private IList<AnIMLType> _anIMLs;
    private List<string> _anIMLDocs;
    private IList<AnIMLTechnique.TechniqueType> _anIMLTypes;
    private List<string> _anIMLTechniqueXmls;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            GetAnIMLDataInternal();
            this.StateHasChanged();
        }
    }

    private void GetAnIMLDataInternal()
    {
        _anIMLs = AnIMLRepository.All().ToList();
        _anIMLDocs = new List<string>();
        foreach(var animl in _anIMLs)
        {
            try
            {
                _anIMLDocs.Add(animl.GetAnIMLXml());
            }
            catch
            {
                _anIMLDocs.Add(JsonConvert.SerializeObject(animl, Formatting.Indented));
            }
        }

        _anIMLTypes = AnIMLTechniqueRepository.All().ToList();
        _anIMLTechniqueXmls = _anIMLTypes.Select(x => JsonConvert.SerializeObject(x, Formatting.Indented)).ToList();
        this.StateHasChanged();
    }
}
