﻿@page "/security"

<style>
    html, body {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-image: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(192,192,192,1) 40%, rgba(134,133,129,0.6) 100%);
    }
</style>

<SecurityComponent></SecurityComponent>
