﻿@page "/temperature"

@implements IDisposable

@using System.Diagnostics
@using static Sila2.Org.Silastandard.Examples.Temperaturecontroller.V1.TemperatureController
@using SiLA2.AnIML.Services
@using SiLA2.AnIML.Services.Builder
@using SiLA2.AnIML
@using SiLA2.AnIML.Services.Provider;
@using SiLA2.Network
@using SiLA2.Server.Utils
@using Sila2.Org.Silastandard.Examples.Temperaturecontroller.V1
@using Sila2.Org.Silastandard
@using Grpc.Core;
@using System.Threading
@using SiLA2.Utils.Extensions
@using TemperatureController.Features.Database
@using TemperatureController.Features.Services

@inject IJSRuntime jsRuntime
@inject ITemperatureProfileService TemperatureProfileService
@inject ISeriesTypeBuilder SeriesTypeBuilder
@inject ISeriesTypeProvider SeriesTypeProvider
@inject IAnIMLRepository AnIMLRepository
@inject NavigationManager NavigationManager
@inject TemperatureControllerClient TemperatureControllerClient

<style>
    .buttonstyle{
        background-color: #376B8C;
        color: #ffffcc;
        min-width: 200px
    }
</style>

<style>
    html, body {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-image: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(192,192,192,1) 40%, rgba(134,133,129,0.6) 100%);
    }
</style>

<h1 style="color:#0F3052; margin-top:10px">Realtime Temperature Monitoring</h1>
<div style="border-style: solid;
        border-color: #C8C8C7;
        padding: 5px;
        margin-top: 0px;
        background-color: #0F3052;
        border-radius: 15px">
    <input style="margin-left:10px;margin-top:10px;margin-bottom:10px;max-width:60px;display: inline-block; text-align:right" @bind="_targetTemperature" />
    <label style="max-width:120px;color: #ffffcc;margin-right:20px">° C</label>
    <button class="btn btn-outline-primary buttonstyle" @onclick="ChangeProgressTemperature">Change Temperature</button>
    <button class="btn btn-outline-primary buttonstyle" @onclick="RunTemperatureProfile">Run Profile</button>
    <button class="btn btn-outline-primary buttonstyle" @onclick="StopRunningTemperatureProfile">Stop Profile</button>
    <button class="btn btn-outline-primary buttonstyle" @onclick="SaveDataAsAnIML">Save Data as AnIML</button>
    <div style="padding:10px;" id="progress-chart"></div>
    <button class="btn btn-outline-primary buttonstyle" style="margin-left:20px" @onclick="ClearProgressTemperature">Clear Chart</button>
    <input style="margin:10px;max-width:60px;display: inline-block; text-align:right" @bind="_numberOfDisplayedTemperatureValues" />
    <label style="max-width:120px;color: #ffffcc">values displayed</label>
    <label style="margin-left:20px;max-width:120px;color: #ffffcc">@string.Format(new System.Globalization.CultureInfo("de-DE"), "{0:#,0}", _temperatureData.Count)</label>
    <label style="max-width:120px;color: #ffffcc">values collected</label>
</div>

@code {
    private static CancellationTokenSource _temperatureControlCancellationTokenSource;
    private double _targetTemperature = 85.5;
    private int _numberOfDisplayedTemperatureValues = 400;
    private static List<Tuple<double, DateTime>> _temperatureData = new List<Tuple<double, DateTime>>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("generateChart", new object[] { });
            this.StateHasChanged();
        }
    }

    private async Task ChangeProgressTemperature()
    {
        _temperatureControlCancellationTokenSource = new CancellationTokenSource();
        await ControlTemperature(_targetTemperature);
    }

    private async Task ClearProgressTemperature()
    {
        _temperatureData.Clear();
        await jsRuntime.InvokeVoidAsync("refreshChart", new double[] { });
        this.StateHasChanged();
    }

    private async Task RunTemperatureProfile()
    {
        var temperatureProfile = TemperatureProfileService.GetTemperatureProfiles().First();
        _temperatureControlCancellationTokenSource = new CancellationTokenSource();
        while(!_temperatureControlCancellationTokenSource.Token.IsCancellationRequested)
        //for (int i = 0; i < temperatureProfile.Loops; i++)
        {
            foreach (var temperatureStep in temperatureProfile.Temperatures)
            {
                await ControlTemperature(temperatureStep.TemperatureInCelsius);
            }
        }
    }

    private async Task ControlTemperature(double temperature)
    {
        try
        {
            var cts = new CancellationTokenSource();

            var temperatureStream = TemperatureControllerClient.Subscribe_CurrentTemperature(new Subscribe_CurrentTemperature_Parameters(), null, null, cts.Token).ResponseStream;

            var commandConfirmation = TemperatureControllerClient.ControlTemperature(new ControlTemperature_Parameters { TargetTemperature = new Real { Value = temperature.DegreeCelsius2Kelvin() } }, null, null, cts.Token);

            using (var call = TemperatureControllerClient.ControlTemperature_Info(commandConfirmation.CommandExecutionUUID, null, null, cts.Token))
            {
                var responseStream = call.ResponseStream;
                while (await responseStream.MoveNext())
                {
                    if (await temperatureStream.MoveNext())
                    {
                        _temperatureData.Add(new Tuple<double, DateTime>(temperatureStream.Current.CurrentTemperature.Value.Kelvin2DegreeCelsius(), DateTime.Now));
                        var values = _temperatureData.Select(x => Math.Round(x.Item1, 2)).TakeLast(_numberOfDisplayedTemperatureValues);

                        if (_temperatureControlCancellationTokenSource.Token.IsCancellationRequested)
                        {
                            cts.Cancel();
                        }
                        
                        try
                        {
                            await jsRuntime.InvokeVoidAsync("refreshChart", values);
                            this.StateHasChanged();
                        }
                        catch (RpcException)
                        {
                            Debug.Print("Method ControlTemperature was cancelled");
                        }
                        catch (Exception ex)
                        {
                            Debug.Print($"{ex}");
                        }
                    }

                    if (responseStream.Current.CommandStatus == ExecutionInfo.Types.CommandStatus.FinishedSuccessfully || responseStream.Current.CommandStatus == ExecutionInfo.Types.CommandStatus.FinishedWithError)
                    {
                        cts.Cancel();
                        break;
                    }
                }
            }

            ControlTemperature_Responses response = TemperatureControllerClient.ControlTemperature_Result(commandConfirmation.CommandExecutionUUID);
        }
        catch (RpcException)
        {
            Debug.Print("Method ControlTemperature was cancelled");
        }
        catch(Exception ex)
        {
            Debug.Print($"{ex}");
        }
    }

    private void StopRunningTemperatureProfile()
    {
        if (_temperatureControlCancellationTokenSource != null)
        {
            _temperatureControlCancellationTokenSource.Cancel();
        }
    }

    private async Task SaveDataAsAnIML()
    {
        await InvokeAsync(() =>
        {
            var ts = DateTime.Now;
            var animl = SeriesTypeBuilder.Build(new string[]{$"Temperature Sample {ts}"});
            var seriesSet = animl.CreateAnIMLSeries(2);
            var values = _temperatureData.ToList();
            seriesSet.Series[0] = SeriesTypeProvider.GetSeriesType(values.Select(x => x.Item2), AnIMLCore.DependencyType.dependent);
            seriesSet.Series[1] = SeriesTypeProvider.GetSeriesType(values.Select(x => x.Item1), AnIMLCore.DependencyType.dependent);
            animl.ExperimentStepSet.id = $"ExperimentStepSetId_{ts.ToString().Replace('/', '.').Replace(' ', '_').Replace(':', '.')}";
            AnIMLRepository.Create(animl);
            NavigationManager.NavigateTo("/animl");
        });
    }

    public void Dispose()
    {
        jsRuntime.InvokeVoidAsync("destroyChart");
    }
}
